attrs==21.4.0
aws-cdk-lib==2.20.0
aws-cdk.aws-lambda-python-alpha==2.20.0a0
cattrs==22.1.0
constructs==10.0.115
exceptiongroup==1.0.0rc3
jsii==1.56.0
publication==0.0.3
python-dateutil==2.8.2
six==1.16.0
typing_extensions==4.1.1
